*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style: none;
}

html, body {
    width: 100%;
    height: 100vh;
    font-family: 'Gilroy';
}

header {
    padding: 1rem 1rem;
    margin: 0 0 5rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 1rem;
}

header ul a {
    color: #1F1F1F;
}

header ul a:hover {
    text-transform: uppercase;
    font-weight: 700;
} 

header .header-search {
    display: flex;
    gap: 1rem;
}

header .header-search label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    padding: 1rem 1rem;
    background-color: #F2F2F2;
    border-radius: 2rem;
}

header .header-search input[type=text] {
    font-family: 'Gilroy';
    font-size: 15px;
    border: none;
    background-color: #F2F2F2;
    border-radius: 2rem;
    outline: none;
}

header .header-search button {
    padding: 1rem;
    border-radius: 50%;
    border: none;
}

/* fim da header */



.conteudo-primario {
    height: 610px;

    display: flex;
    justify-content: space-between;
    
    padding: 1rem;
}

.conteudo-direita {
    display: block;
}

.conteudo-direita h1 {
    font-size: 60px;
    margin-bottom: 2rem;
}

.conteudo-direita p {
    font-size: 18px;
    margin-bottom: 3rem;
}

.conteudo-direita button {
    width: 280px;
    height: 60px;

    font-family: 'Gilroy';
    font-size: 15px;
    font-weight: bold;

    background: none;
    border: 2px solid #1F1F1F;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;
}

.conteudo-direita button:hover {
    width: 280px;
    height: 60px;
    border: none;
    background-color: #F3F3F3;
}

.conteudo-direita button span {
    font-size: 28px;
}

.conteudo-esquerda img {
    width: 100%;
}

/* fim do conteudo primário */

aside#tenis-cores {
    height: 650px;
    margin: 0 1rem 5rem;

    border-radius: 1rem;
    background-color: #F3F3F3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

aside .cores {
    width: 250px;
    height: 30px;

    display: flex;
    justify-content: center;
    gap: 1rem;
}

aside .branco {
    width: 32px;
    height: 32px;

    background: linear-gradient(270.06deg, #E4E4E4 20.97%, #FFFFFF 99.92%);
    border: 2px solid rgba(31, 31, 31, 0.5);
    border-radius: 50%;
}

aside .bege {
    width: 32px;
    height: 32px;

    background: linear-gradient(277.74deg, #FFE08D 9.16%, #FFB757 91.03%);
    opacity: 0.5;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

aside .cinza {
    width: 32px;
    height: 32px;

    background: linear-gradient(270.06deg, #464646 20.97%, #D3D3D3 99.92%);
    opacity: 0.5;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

aside .grafite {
    width: 32px;
    height: 32px;

    background: linear-gradient(270.06deg, #232323 20.97%, #000000 99.92%);
    opacity: 0.5;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}
aside#tenis-cores button {
    width: 280px;
    height: 60px;

    font-family: 'Gilroy';
    font-size: 15px;
    font-weight: bold;

    background: none;
    border: 2px solid #1F1F1F;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;
}


/* fim aside - cores */


#cards {
    display: block;
    margin: 1rem;
}

#cards .card {
    margin-bottom: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cards .card-texto h1 {
    margin-bottom: 1.5rem;
    font-size: 40px;

    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
}

/* fim card */


aside#frase {
    width: 100%;
    height: 820px;
    background: url(../assets/Corra.png);
    background-size: cover;
    background-repeat: no-repeat;

    margin-bottom: 5rem;
}

aside#frase p {
    color: white;
    font-size: 70px;
    font-weight: bold;
    padding: 2rem;
}

aside#frase img {
    margin-right: 1rem;
}

/* fim aside -frase */


#mapa-input {
    background-color: #F3F3F3;
    border-radius: 1rem;
    display: flex;
    margin: 3rem;

}

#mapa-input img {
    width: 100%;
    display: flex;
}

.mapa {
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

form h1 {
    margin-bottom: 3rem;
    font-size: 30px;
}

form input[type="text"] {
    margin-bottom: 2rem;
    width: 100%;

    padding: 1rem 2rem;
    border: none;
    border-radius: .6rem;

    font-family: 'Gilroy';
}

form input[type="email"] {
    margin-bottom: 2rem;
    width: 100%;

    padding: 1rem 2rem;
    border: none;
    border-radius: .6rem;

    font-family: 'Gilroy';
}

form textarea {
    width: 100%;
    height: 200px;
    
    padding: 1rem 2rem;
    border: none;
    border-radius: .6rem;

    font-family: 'Gilroy';

    resize: none;
}

form input[type="button"] {
    width: 100%;
    padding: 1rem;

    font-family: 'Gilroy';
    font-size: 15px;
    font-weight: bold;

    background: none;
    border: 2px solid #1F1F1F;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;
}

form label {
    margin: 3rem 0 1rem 0;
    color: #969696;
}


/* final do form */

footer {
    display: flex;
    flex-direction: column;

    background-color: #F3F3F3;
    padding: 3rem 2rem 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-top h4 {
    font-weight: 500;
}

.footer-top a {
    color: #1F1F1F;;
}

.footer-top .sobre {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.footer-top .ajuda {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}


.footer-top img {
    width: 100%;
}

.footer-top .redes-sociais ul {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
}

.footer-bot {
    padding: 3rem;
    text-align: center;
}