*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Gilroy";
}

header {
  width: 1440px;
  height: 90px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
main#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteudo-primario {
  width: 1440px;
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.conteudo-direita {
  width: 50%;
}

.conteudo-direita h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.conteudo-direita p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3rem;
  max-width: 70%;
}

.conteudo-direita button {
  width: 250px;
  height: 60px;
  border: 2px solid black;
  border-radius: 0.5rem;
  background: none;
  font-weight: 500;
  font-family: "Gilroy";
  font-size: 15px;
  cursor: pointer;
}

.conteudo-esquerda {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo-esquerda img {
  min-width: 90%;
}

.header-search {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-search label {
  background: #F2F2F2;
  width: 250px;
  height: 50px;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
}

.header-search label input[type="text"] {
  width: 100%;
  height: 50px;
  border: 0;
  background: none;
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 500;
  color: #969696;
  margin-left: .5rem;
  outline: 0;
}

.header-search button {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background: #F2F2F2;
}

#tenis-cores {
  background: #f3f3f3;
  width: 1440px;
  height: 600px;
  max-width: 95%;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 5rem;
}

#tenis-cores button {
  width: 250px;
  height: 60px;
  background: none;
  border: 2px solid #1f1f1f;
  border-radius: 0.5rem;
  font-size: 15px;
  font-family: "Gilroy";
  font-weight: 700;
  cursor: pointer;
}

#tenis-cores .cores {
  display: flex;
  gap: 1rem;
}

#tenis-cores .branco {
  width: 20px;
  height: 20px;
  background: linear-gradient(270.06deg, #e4e4e4 20.97%, #ffffff 99.92%);
  border: 2px solid rgba(31, 31, 31, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

#tenis-cores .bege {
  width: 20px;
  height: 20px;
  background: linear-gradient(277.74deg, #ffe08d 9.16%, #ffb757 91.03%);
  opacity: 0.5;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#tenis-cores .cinza {
  width: 20px;
  height: 20px;
  background: linear-gradient(270.06deg, #464646 20.97%, #d3d3d3 99.92%);
  opacity: 0.5;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#tenis-cores .grafite {
  width: 20px;
  height: 20px;
  background: linear-gradient(270.06deg, #232323 20.97%, #000000 99.92%);
  opacity: 0.5;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#cards {
  width: 1440px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card {
  display: flex;
}

.card-texto {
  width: 50%;
}

.card-texto h1 {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 1rem;
}

.card-texto p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5rem;
  width: 70%;
}

.card-texto.amortecimento {
  padding-left: 5rem;
}

.imagem {
  width: 50%;
}

.imagem img {
  width: 100%;
}

#frase {
  margin-top: 5rem;
  width: 100%;
  height: 900px;
  background: url(../assets/Corra.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
}

#frase p {
  font-size: 100px;
  font-family: "Gilroy";
  font-weight: 700;
  display: flex;
  align-items: baseline;
  color: #ffffff;
  gap: 1rem;
  padding: 1rem 2rem;
}

#mapa-input {
  width: 1440px;
  height: 838px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

#mapa-input mapa {
  width: 827px;
  height: 838px;
  background-color: pink;
}

#mapa-input form {
  width: 100%;
  background: #f3f3f3;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 0.5rem 0.5rem 0;
}

#mapa-input form h1 {
  font-size: 30px;
  margin-bottom: 2rem;
}

#mapa-input input[type="text"],
input[type="email"] {
  padding: 1.5rem;
  border: 0;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 500;
  color: #969696;
  outline: 0;
}

#mapa-input textarea {
  padding: 1.5rem;
  border: 0;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 500;
  color: #969696;
  resize: none;
  width: 100%;
  height: 250px;
  outline: 0;
}

#mapa-input label {
  color: #969696;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#mapa-input input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #d2d2d2;
  border-radius: 4px;
}

#mapa-input input[type="button"] {
  width: 100%;
  height: 60px;
  background: none;
  border: 2px solid #1f1f1f;
  border-radius: 0.5rem;
  font-size: 15px;
  font-family: "Gilroy";
  font-weight: 700;
  cursor: pointer;
}

footer {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 100%;
  height: 230px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top h4 {
  margin-bottom: 1rem;
}

.footer-top ul,
a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #1f1f1f;
}

.redes-sociais ul,
li {
  display: flex;
  flex-direction: row;
}

.footer-bot {
  text-align: center;
  margin-top: 3rem;
}
